sudo apt update
sudo apt install git mysql-client -y
git clone https://github.com/kshitijhatwar/Terraform.git
mysql -h ${rds-endpoint} -u ${dbuser} --password=${dbpass} accounts --ssl-mode=DISABLED < /home/ubuntu/terraform/project2/src/main/resources/db_backup.sql